<div class="container">
    <div class="row">
        <acme-navbar creation-date="pay.creationDate"></acme-navbar>
    </div>

    <form name="myForm">
    <div bs-active-pane="基本信息" bs-tabs>
        <div  title="同业存放基本信息" name="baseInfo"  bs-pane>
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-bordered table-condensed table-hover"> 
                  <tr>   
                      <td class="text-right qlc-label-bg">业务种类</td>
                      <td class="qlc-table-tdshow">同业存放</td>
                      <td class="text-right qlc-label-bg">同业存放编号</td>
                      <td class="qlc-table-tdshow">{{DpCntl.depositNo}}</td>
                  </tr>
                  <tr>
                      <td class="text-right qlc-label-bg">合作机构名称</td>
                      <td>{{DpCntl.cust_name}}
                      <button class="btn btn-xs btn-primary" ng-click="DpCntl.showModal()" type="button">合作机构</button></td>
                      <td class="text-right qlc-label-bg">预计合同签订时间</td>
                      <td><input name="signDate" type="date" ng-model="DpCntl.signDate" placeholder="yyyy-MM-dd" style="width: 40%;border:1px solid #ccc" required/>
                          <span class="error" ng-show="myForm.signDate.$error.date">Not a valid date</span></td>
                  </tr>
                  <tr>
                      <td class="text-right qlc-label-bg">本金</td>
                      <td><input type="number" name="dpAmt" ng-model="DpCntl.amt" style="width: 40%;border:1px solid #ccc;text-align:right" placeholder="必填项" required/>万元&nbsp;{{amt|currency}} 
                          <span ng-show="myForm.dpAmt.$error.required"><b class="text-danger">*</b></span></td>
                   <!--   name<input ng-model="myname" type="text">
                      family<input ng-model="myfamily" type="text">{{fullname}} -->
                      <td class="text-right qlc-label-bg">币种</td>
                      <td><input ng-model="DpCntl.currency" style="width: 40%;border:1px solid #ccc"/></td>
                  </tr>
                  <tr>
                      <td class="text-right qlc-label-bg">期限</td>
                      <td><input type="number" ng-model="DpCntl.term" min="0" style="width: 40%;border:1px solid #ccc;text-align:right"/>个月</td>
                      <td class="text-right qlc-label-bg">利率</td>
                      <td><input ng-model="DpCntl.rate" style="width: 40%;border:1px solid #ccc;text-align:right"/>%</td>
                  </tr>
                  <tr>
                      <td class="text-right qlc-label-bg">记息方式</td>
                   <td class="qlc-table-tdshow">
                        <label style="font-weight : normal">
                            <input type="radio" ng-model="DpCntl.interestType" name="optionsRadiosinline1" id="optionsRadios1" value="floating" ng-checked="true"/>浮动
                        </label>&nbsp;&nbsp;&nbsp;
                        <label style="font-weight : normal">
                            <input type="radio" ng-model="DpCntl.interestType" name="optionsRadiosinline1" id="optionsRadios2" value="fixed"/>固定
                        </label>
                   </td>
                      <td class="text-right qlc-label-bg">预计起息日</td>
                      <td><input type="date" ng-model="DpCntl.intstDate" style="width: 40%;border:1px solid #ccc"/></td>
                   </tr>
                   <tr>
                      <td class="text-right qlc-label-bg">到期日</td>
                      <td><input type="date" ng-model="DpCntl.maturityDate" style="width: 40%;border:1px solid #ccc"/></td>
                   </tr>
                   <tr>
                      <td class="text-right qlc-label-bg">送审单位意见</td>
                      <td colspan="3">
                      <textarea ng-model="DpCntl.opinion" rows="4" class="input-lg" style="width: 90%;border:1px solid #ccc"></textarea></td>
                   </tr> 
                </table> 
                </div>
            </div>
        </div>
        <div title="附件" name="upLoad"  bs-pane>
            <div class="panel panel-default">
                <div class="panel-body">
                    开发中……
                </div>
            </div>
        </div> 
    </div>

  <div  class="text-center">
    <button class="btn btn-primary" ng-click="DpCntl.createProcess()" type="submit">创建流程</button>&nbsp;&nbsp;
    <button ng-click="DpCntl.greet()">greet</button>
  </div>
    </form>


</div>
