<div class="container">

  <div>
    <acme-navbar creation-date="pay.creationDate"></acme-navbar>
  </div>

  <table st-table="payContractList" st-safe-src="pay.rowCollection" class="table table-hover">
    <thead>
      <tr>
        <th colspan="5">
          <input st-search="" class="form-balancecontrol" placeholder="搜索..." type="text"/>
        </th>
        <th>
          <button type="button" ng-click="pay.refreshList()" class="btn btn-sm btn-primary pull-left ">
            <i class="glyphicon glyphicon-refresh">
            </i> 刷新
          </button>
        </th>
      </tr>

      <tr>
        <th st-sort="contract_no">合同编号</th>
        <th st-sort="project_no">项目编号</th>
        <th st-sort="project_name">项目名称</th>
        <th st-sort="cust_no">客户编号</th>
        <th st-sort="cust_name">客户名称</th>
        <th st-sort="cust_name">操作</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in payContractList">
        <td>{{row.contract_no}}</td>
        <td>{{row.project_no}}</td>
        <td>{{row.project_name}}</td>
        <td>{{row.cust_no}}</td>
        <td>{{row.cust_name}}</td>
        <td>
          <button type="button" ng-click="pay.myWorkJump(row)" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="pay.itemsByPage" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
